<!--<h1>Check a Porker Hand</h1>-->

<%#= form_for @card do |f| %>
  <%# if @content1.errors.any? %>
<!--    <h3>入力した内容にエラーが<%#= @content1.errors.count %>件あります</h3>-->
<!--    <ul>-->
      <%# flash.each do |message| %>
<!--        <li><%#= message %></li>-->
      <%# end %>
<!--    </ul>-->
  <%# end %>


<%# end %>
