// Place all the styles related to the posts controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  text-align: center;

}

.flash {
  font-family: "American Typewriter";
  font-size: 20px;
  padding: 30px;
  border: 5px solid #999999;
  margin: 50px;
  background-color: #999999;

}

h1 {
  font-family: "Bangla Sangam MN";
  padding: 30px;
}

input[name="card"] {
  width: 400px;
  height: 40px;
  margin: 20px;
}

input[placeholder="C12 H13 D12 C11 C10"] {
  text-align: center;
}

